---
layout: layouts/base.njk
---

{% block content %}

<style>
  .cover{
      {% if background %}
        background-image: url('{{ background }}');
      {% else %}
        background-image: url('/images/cover.jpg');
      {% endif %}
  }
</style>
  <div class="cover">
    <h2>{{ title }}</h2>
    <h3>{{ tagline }}</h2>
  </div>
  <main class="tmpl-post">
    <p>{{ content | safe }}</p>
  </main>

  {% set maxPosts = collections.posts.length %}

  <main class="tmpl-post">

    <h3>{% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h3>

    {% set postslist = collections.posts %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}

  </main>

{% endblock %}